.bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #590099;
  width: 100%;
  height: 60px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  height: 40px;
  max-width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 12px;
}

.profile-icon {
  height: 40px;
}

.left-content {
  display: flex;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons-container {
  padding-right: 12px;
}

.unselected-nav-button {
  border-radius: 6px;
  border: 1px solid #000;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  width: 90px;
  cursor: pointer;
  color: #000;
  background-color: #f0f0f0;
  outline: 0;
  padding: 0 17px;
  letter-spacing: -0.8px;
  min-width: 140px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s, box-shadow 0.1s;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 6px;
}

.unselected-nav-button:hover {
  background-color: #f8f8f8;
  transform: translateY(-2px);
}

.unselected-nav-button:active {
  background-color: #ffffff;
  box-shadow: 0 0 6px black;
}

.selected-nav-button {
  border-radius: 6px;
  border: 1px solid #000;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  width: 90px;
  cursor: pointer;
  color: #000;
  background-color: #d16237;
  outline: 0;
  padding: 0 17px;
  letter-spacing: -0.8px;
  min-width: 140px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s, box-shadow 0.1s;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 6px;
}

.selected-nav-button:hover {
  background-color: #bb5831;
  transform: translateY(-2px);
}

.selected-nav-button:active {
  background-color: #b35530;
  box-shadow: 0 0 4px black;
}

.vehicle-telemetry-title {
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media (max-width: 720px) {
  .vehicle-telemetry-title {
    display: none !important; 
  }
}

.left-content .material-icons {
  font-size: 36px; 
  color: white; 
  cursor: pointer; 
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  border: 2px solid white; 
  border-radius: 50%; 
}

.profile-icon {
  font-size: 36px; 
  color: white; 
}

.css-navbar {
  position: fixed; 
  top: 60px; 
  height: 50px;
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  background-color: #444; 
  color: white; 
  z-index: 1000; /* Ensure it is above other elements */
}

.navbar-list {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #444; 
}

.navbar-item {
  display: inline; 
}

.navbar-item a {
  display: block;
  color: white; /* Text color */
  text-align: center;
  padding: 12px 18px;
  text-decoration: none; /* Remove underline */
}

.navbar-item a:hover {
  background-color: #333; 
}

.navbar-item-active {
  border-bottom: 4px solid #ffffff;
}

.nav-item {
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  padding: 14px 20px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #333; 
}