html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full screen height is available */
  }
  
  .content {
    padding-top: 60px;
    padding-left: 380px; /* Corrected duplication */
  }
  
  #map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; /* Full-screen height */
  }