.sidebar {
  background-color: #b4b4b4;
  position: fixed;
  top: 110px;
  left: -380px;
  width: 380px;
  height: 100%;
  border-right: 1px solid black;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
  padding: 10px;
}

.sidebar.visible {
  left: 0;
}

.hidden {
  display: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 95%;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.sidebar-search {
  width: 100%;
  height: 36px;
  border: 3px solid #660099;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #222;
  transition: all 0.15s;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #660099;
  background: #660099;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}

h2 {
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

label {
  font-size: 16px;
  margin-bottom: 1px;
  color: #222;
  font-weight: bold;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #660099;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  color: #222;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-group input[type="checkbox"]:hover,
.checkbox-group input[type="checkbox"]:focus {
  border-color: #660099;
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: #660099;
  border-color: #660099;
}

.dropdown {
  width: 100%;
  height: 36px;
  border: 1px solid #660099;
  border-radius: 5px;
  padding: 10px;
  color: #222;
  outline: none;
  background-color: #fff;
}

.sidebar h2,
.sidebar p {
  margin-bottom: 5px;
  font-weight: bold;
}

.sidebar .checkbox-group {
  margin-top: 0;
}

