.pagePad{
    padding-left: 20px;
    padding-right: 20px;
}

.body{
    background-color: #D0D0D0;
}

#top-alert{
    background-color: grey;
    padding:15px;
    display:none;
}

.content {
    margin-top: 110px;
}

.active {
    display: block !important;
}

#maintenence{
    border-color: #ff6600;
}

#gen-info{
    border-color: #660099
}

.iblock{
    background-color:white;
    border-style:solid;
    border-width: 7px;
    border-radius: 12px;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    height:95%;
}

.route-subtitles
{
    color: grey;
}

hr {
    border: 3px solid black;
}

#map {
    height: 750px;
}

.date-information {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}