.main {
  margin-left: 0;
  margin-top: 60px;
  transition: 0.3s ease-in-out;
}

.main.shifted {
  margin-left: 380px;
}

.content {
  padding-top: 60px;
  padding-left: 12px;
  padding-left: 380px;
}

.vehicle-container {
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  width: 98%;
  flex-wrap: wrap;
}

.vehicle-frame {
  margin: 10px;
  border: 5px solid #000000;
  border-radius: 12px;
  width: 250px;
  height: 175px;
}

.vehicle-frame-error {
  border: 5px solid #FF6767;
}

.vehicle-frame-alert {
  border: 5px solid #e6bf00;
}

.error-frame {
  background-color: #FF6767;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-frame {
  background-color: #e6bf00;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.std-frame {
  background-color: #80808059;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-text {
  font-weight: 600;
  font-size: 18px;
}

.vehicle:hover {
  cursor: pointer;
}

.small-svg {
  width: 150px;
  height: 85px;
}

.vehicle-silhouette {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 48px;
  font-weight: 600;
  fill: white;
  text-anchor: middle;
}

.card-description {
  text-align: center;
}

/* Custom styles for thicker borders */
.card.border-danger {
  border-width: 6px !important;
}

.card.border-warning {
  border-width: 6px !important;
}

.card-header {
  border-radius: 0 !important;
}